body {
	background-color: #3a3a3a;
	margin: 0;
	padding: 0;
}

.link {
	text-decoration: none;
	color: white;
	display: inline-block;
	text-align: center;
	margin: 100px auto 0;
	font-size: 30px;
	padding: 10px;
	transition: background-size 0.3s;
	background-image: linear-gradient(to right, #00ff03, #ff9e55, #9a40ff, #26ff00);
	background-size: 0% 3px;
	background-position: 0 100%;
	background-repeat: no-repeat;
}

.link:hover {
	background-size: 100% 3px;
}